<div>
  <div class="d-flex align-items-center justify-content-center" style="height:90vh">
    <div class="w-25 bg-dark p-5 rounded-2 text-white">
      <form #form="ngForm" (ngSubmit)="login()">
        <div class="mb-3 text-center">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username"
                 [(ngModel)]="loginRequest.username">
        </div>
        <div class="mb-3 text-center">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password"
                 [(ngModel)]="loginRequest.password">
        </div>
        <div class="mb-3 form-check align-items-center justify-content-center d-flex">
          <input type="checkbox" class="form-check-input" id="remember" name="remember">
          <label class="form-check-label ms-2" for="remember">Remember Me</label>
        </div>
        <div class="align-items-center justify-content-center d-flex">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
