<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="/">MyNotetion</a>

      <div class="me-auto nav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="userLoggedIn == true">
            <a class="nav-link" [routerLink]="['/notes','list']">Notes</a>
          </li>
        </ul>
      </div>
      <div class="nav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="userLoggedIn == true">
            <a class="nav-link">{{userUsername}}</a>
          </li>
          <li class="nav-item" *ngIf="userLoggedIn == false">
            <a class="nav-link" [routerLink]="['/auth','register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="userLoggedIn == false">
            <a class="nav-link" [routerLink]="['/auth','login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="userLoggedIn == true">
            <button class="nav-link btn" (click)="logoutUser()">Logout</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
